<!DOCTYPE html>
<html>
<head>
    <title>Task Manager</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Task Manager</h1>
    <div class="logout-container">
    <a href="/logout">
        <button>Logout</button>
    </a>
</div>
    <form method="POST">
    <input type="text"
           name="task"
           placeholder="Enter a task"
           required>

    <input type="date"
           name="due_date"
           required>

    <button type="submit">Add Task</button>
</form>
    <ul>
    {% for task in tasks %}
        <li>
            <div>
                <strong>{{ task[1] }}</strong><br>
                Due Date: {{ task[2] }}<br>
                Status: {{ task[3] }}
            </div>

          <div>

    <a href="/edit/{{ task[0] }}">
        <button>Edit</button>
    </a>

{% if task[3] == 'Pending' %}
    <a href="/complete/{{ task[0] }}">
        <button>Complete</button>
    </a>
{% endif %}

    <a href="/delete/{{ task[0] }}">
        <button>Delete</button>
    </a>

</div>
        </li>
    {% endfor %}
    </ul>
</body>
</html>